{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>Ask user: {{ name|default('') }}</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum sapien mauris, venenatis
                    facilisis neque tincidunt vel. Maecenas vel felis vel turpis scelerisque eleifend. Fusce nec purus egestas,
                    efficitur nisi ac, ultrices nulla. Pellentesque eu mollis tortor, in mollis nisl. Maecenas rhoncus quam non
                    lacinia mollis.</p>
    <p>Slug: {{ slug }}</p>
{% endblock %}
