
// Body
$body-bg: #fff;
$block-bg: #F7F7F7;
// Other
$primary: #548EAA;
$success: #4db24d;
$info:    #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

$breadcrumb-divider: quote("→");
$breadcrumb-bg: $block-bg;
