@import "~codemirror/lib/codemirror.css";
@import "~summernote/dist/summernote-bs4.css";
@import "~select2/dist/css/select2.css";
main{
  color: #565656;
}
.imgWrap,.imgDelWrap{
  display: inline-block;
}
.imgRow {
  height: 150px;
}
.imgWrap{
  position: relative;
}
.imgRow img{
  height: 150px;
}
.imgDelWrap{
  position: absolute;
  top: 5px;
  right: 5px;
}