{% extends 'base.html.twig' %}

{% block title %}Send Us{% endblock %}
{% block breadcrumbs %}
    {{ WBreadCrumb('Send Us') }}
{% endblock%}
{% block body %}
<div class="example-wrapper">
    <h1>Send Us! ✅</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
