{% extends 'base.html.twig' %}

{% block title %}Sign up Our Site{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Sign up Our Site ✅</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" id="sign_up" name="sign_up" class="btn btn-success btn">
                        <i class="fa fa-lock"></i> Register
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
